# dependencies
node_modules/

# next build
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
!.env.example

# capacitor/android generated
android/
ios/

# misc
.DS_Store
*.pem
