*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
/build/
**/build/
app/build/
captures/
.externalNativeBuild
.cxx
local.properties
venv/
*.apk
dashboard_show.txt
nâng cấp.txt

# Ignore Gemini UseCase to protect API Key
app/src/main/java/com/example/nhatkyduonghuyet/domain/usecase/GeminiAnalysisUseCase.kt
